html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background: url(bg-3.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  display: table;
}

.to-center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group .hover-effect {
  text-decoration: none;
  color: orange;
}
.form-group .hover-effect:hover {
  color: #000;
}
